  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  .bttn{
text-align:  center;
  }
  .form-label {
    color: rgb(12, 12, 12); 
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #9FB1BCFF;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #2E5266FF;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  