.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1rem;
}
.list {
    list-style: none; 
    padding: 0; 
    margin: 1rem 0; 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
  }
  
  .list a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold; 
  }
  
  .list a:hover {
    text-decoration: underline; 
    color: #0056b3; 
  }
  